.chart-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* background-color: aqua; */
}

.first-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.tables {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 50px;
}

.creators {
  color: rgb(25, 25, 25);
}
