.line-chart-six {
  height: 30vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  padding: 24px;
  box-shadow: 0px 5px 15px rgb(0 0 0 / 0.2);
  margin-bottom: 50px;
}
