.line-chart-eight {
  height: 30vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  padding: 24px;
  box-shadow: 0px 5px 15px rgb(0 0 0 / 0.2);
  margin-bottom: 50px;
  color: black;
}

.line-chart-eight .chart {
  height: 100%;
  width: 80%;
}

.line-chart-eight .best-three {
  text-align: start;
  align-self: flex-start;
  margin-top: 20px;
}
